* {
   margin: 0;
  padding: 0;
  background-color: skyblue;
}



h1,
h2,
h3 {
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 10px solid darkblue;
  background-color: lightblue;
  margin: 5px 5px;
  padding: 5px 5px;

}

nav{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}


ul li {
  display: inline-flex;
  flex-flow: row wrap;
  border-bottom: 1px solid orange;
  margin: 5px auto;
  padding: 2px;
}

section {
  height: 400px;
  width: 80%;
  margin: 30px auto;
  border: 10px solid black;
  display: flex;
  flex-direction: column;
}

#projects2 {
  position: relative;
  left: 200px;
}

#contact2 {
  position: relative;
}

#absolute-box {
  position: relative;
  top: 50px;
  right: 100px;
}

#fixed-box {
  position: fixed;
  bottom: 0;
  right: 0;
}

.aboutimg{
  display: flex;
  width: 200px;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  border: 10px solid darkblue;
  background-color: lightblue;
  margin: 5px 5px;
  padding: 5px 5px;
  }

  .contactimg{
    display: flex;
    width: 200px;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    border: 10px solid darkblue;
    background-color: lightblue;
    margin: 5px 5px;
    padding: 5px 5px;
    }

    .projectimage{
      height: auto;
      width: 200px;
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;
      border: 10px solid darkblue;
      margin: 5px 5px;
      padding:5px 5px;
      }
 
   #email{
    display: flex;
    justify-content: center;
  }

  footer { 
    display: flex;
    justify-content: center;
  }

  div {
    display: flex;
    justify-content: center;

  }

  @media screen and (max-width: 768px) {
    .aboutimg{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border: 10px solid darkblue;
      margin: 5px 5px;
      padding: 5px 5px;
      }

      .contactimg{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 10px solid darkblue;
    background-color: lightblue;
    margin: 5px 5px;
    padding: 5px 5px;
    }
    
    .projectimage{
      height: auto;
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;
      border: 10px solid darkblue;
      margin: 5px 5px;
      padding:5px 5px;
      }
    body {
      background-color: lightgreen;
    }
  }
  @media screen and (min-width: 480px) {
    body {
      background-color: lightgreen;
    }
  }

  
  
